.ipynb_checkpoints
.vscode
Notebook
PyInstaller
PyScript
Versions
matlab
test
.favorites.json
Analysis
Data
LDV copy 4.py
LDV copy 5.py
Notebook/LDV.ipynb
Notebook
UI
git
LDV copy 0.py
LDV copy 1.py
LDV copy 2.py
LDV copy 3.py
LDV.pvsm
LDV_setup.csv
LDV Notebook.zip
